<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>Experiment of AngularJs/NodeJs/Express/MongoDB</title>

		<link rel="stylesheet" href="/public/vendor/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/public/vendor/bootstrap/dist/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="/public/vendor/components-font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/public/css/app.css"/>

		<script type="text/javascript" src="/public/vendor/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript" src="/public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/public/vendor/angular/angular.min.js"></script>
		<script src="/public/vendor/angular-route/angular-route.min.js"></script>
		<script src="/public/vendor/angular-animate/angular-animate.min.js"></script>
		<script src="/public/js/app.js"></script>
		<script src="/public/js/services.js"></script>
		<script src="/public/js/factory.js"></script>
		<script src="/public/js/controllers.js"></script>
		<script src="/public/js/filters.js"></script>
		<script src="/public/js/directives.js"></script>
	</head>
	<body ng-controller="AppCtrl">
		<div class="view-container" ng-view></div>
	</body>
</html>
