/* app css stylesheet */

html, body {
	min-height: 400px;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #082b4e url(/img/bg.jpg) 50% 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.view-container{
	min-height:500px;
}

.white {
	color:white;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

#bottom {
	display: block;
	margin-top: 40px;
}

form .error-container {
	color: #bb1f34;
	font-size: 1.2em;
	margin: 0.3em 0;
}

.ng-hide-add, .ng-hide-remove {
	/* ensure visibility during the transition */
	display: block !important; /* yes, important */
}

.cssFade {
	transition: .5s linear all;
	opacity: 1;
}
.cssFade.ng-hide {
	opacity: 0;
}

.cssSlideUp {
	transition: .7s linear all;
	height: 80px;
	overflow: hidden;
}
.cssSlideUp.ng-hide {
	height:0;
}
canvas#paint{
	background-color: #FFF;
  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
}
/*input.ng-invalid {
	border: 1px solid red;
}
input.ng-valid {
	border: 1px solid green;
}*/