<div ng-include src="'/public/partials/header.ejs'"></div>

<div class="container">
	<div class="well text-center">
		<h2>A Flight chess game which I loved in childhood :). Drawing this for fun </h2>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<canvas id="flight" width="680" height="680" style="background:#c0c0c0;" flightgame>
					<p>Your browser doesn't support canvas</p>
				</canvas>
			</div>
			<div class="col-sm-2">
				<div class="btn-group" style="margin-bottom:10px;">
					<button class="btn btn-default btn-lg btn-primary" ng-click="draw()">Draw&nbsp;</button>
				</div>
				<div classs="btn-group">
					<button class="btn btn-default btn-lg btn-warning" ng-click="reset()">Reset</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include src="'/public/partials/footer.ejs'"></div>