<footer class="navbar navbar-static-bottom footer">
	<div class="container">
		<small>
			<ul class="list-inline text-center">
				<li><a class="white ">v0.0.1-beta</a></li>
			</ul>
		</small>
	</div>
</footer>