<header class="navbar navbar-static-top header">
	<div class="container">
		<nav class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li><a href="/home">home</a></li>
				<li><a href="/user">User Management</a></li>
				<li><a href="/user/new">Create User</a></li>
				<li><a href="/flightGame">Fight Game</a></li>
				<li><a href="javascript:;" ng-click="logout()">Log Out</a></li>
			</ul>
		</nav>
	</div>
</header>