<div ng-include src="'/public/partials/header.ejs'"></div>
<div class="container">
	<div class="well">
		<h2>Welcome to Jeff's Experiment</h2>
	</div>
</div>
<div ng-include src="'/public/partials/footer.ejs'"></div>