<form class="form">
	<div class="form-group ">
		<label for="username">Username</label>
		<input type="text" class="form-control col-sm-4" id="username" placeholder="Enter username" ng-model="form.username">
	</div>
	<div class="form-group ">
		<label for="password">Password</label>
		<input type="text" class="form-control col-sm-4" id="password" placeholder="Enter password" ng-model="form.password">
	</div>
	<button type="submit" class="btn btn-default btn-primary btn-block" id="signin-button"><i class="fa fa-lock"></i> Sign in</button>
</form>
